/*Reset default browser styles*/
body,h1,h2,p {
  margin:0;
  padding: 0;
}
/*set the body properties*/
body{
  font-family:'Lucida Handwriting',Brush Script MT'
  color:white;
 background-size:cover;
  background-position: center;
}
.Home {
  background-image:url('https://th.bing.com/th/id/OIP.eDwyKx5DXtO1fr368zO16gEyDM?rs=1&pid=ImgDetMain.jpg');
}
.About {
  backgroung-image:url('https://th.bing.com/th/id/OIP.c40jCxvcT8_Z1lj3uMKNAgAAAA?w=260&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7.jpg');
}
.Services {
  background-image:url('https://static.vecteezy.com/system/resources/previews/020/139/978/non_2x/champagne-glasses-arranged-on-the-table-for-wedding-reception-photo.jpg');
}
.Contacts {
  background-image:url('https://static.vecteezy.com/system/resources/previews/008/212/797/original/catering-logo-design-template-vector.jpg');
}
/*Header styles*/
header {
  background-color:white;
  padding:10px;
  text-align:left;
}
/*navigation styles*/
nav ul{
  list-style-type: none;
  padding: o;
}
nav ul li a {
  color:white;
  text-decoration: none;
  font-weight:bold;
}
/*section-styles*/
section {
  padding:10px;
  margin:10px 0;
  background-color: white;
  border-radius:8px;/*rounded corners*/
}
/* Footer styles*/
footer {
  text-align: center;
  padding:10px;
  background-color:white;
}
/*Responsive styles*/
@media(max-width:600px) {
  nav ul li{
    display:block;
    margin:10px 0;
  }
  section {
    margin:10px;
  }
}
  
